#container {
    width: 400px;
    margin: 0 auto;
    margin-top: 10%;
}

/* Bordered form */


#container h1 {
    width: 38%;
    margin: 0 auto;
    padding-bottom: 10px;

}

/* Full-width inputs */
input[type=text],
input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
input[type=submit] {
    background-color: #53af57;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

input[type=submit]:hover {
    background-color: white;
    color: #53af57;
    border: 1px solid #53af57;
}

h3 {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    background-color: orange;
}

.card-body {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    border: solid 2px green;


}

.card-header {
    background-color: orange;

}

.container {
    margin: 0 auto;
}

form {
    text-align: center;
}

#timer {
    font-size: large;
}